<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Coding Task</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    {% include 'material/includes/material_css.html' %}
    <script src="{% static 'components/jquery.min.js' %}"></script>
    {% include 'material/includes/material_js.html' %}
</head>
<body>
    <nav>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo">
                <i class="material-icons">keyboard</i> 
                Coding Task
            </a>
            <ul id="nav-mobile" class="right">
                {% if user.is_authenticated %}
                <li>Hello {{ user.first_name }}</li>
                <li><a href="{% url 'logout' %}">Logout</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
    {% block body %}{% endblock %}
</body>
</html>